In [94]:
import  pandas as pd

In [95]:
s= pd.Series([10,30,50,70,90],index=['a','b','c','d','e'])
print(s)
#s.head()
#s.tail()
#s.index
#s.values
#s.dtype
#s.ndim
#s.shape
#s.size

a    10
b    30
c    50
d    70
e    90
dtype: int64

In [96]:
s.ndim

1

finds the diamension of the arr or vector and matrix

In [97]:
s.dtype

dtype('int64')

gives the data type of the arr

In [98]:
s.values

array([10, 30, 50, 70, 90], dtype=int64)

gives the value of arr

In [99]:
s.size

5

give the size or numbers of the element in arr

In [100]:
s.head()

a    10
b    30
c    50
d    70
e    90
dtype: int64

print the top 5 values

In [101]:
s.tail()

a    10
b    30
c    50
d    70
e    90
dtype: int64

print the down 5 values

In [102]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

print the index of the arr

In [103]:
s.shape

(5,)

print the numbers of values in arr

In [104]:
df =pd.DataFrame({
    "name":["parag","tiwari","kumar","singh"],
    "age":[20,25,30,40],
    "city":["delhi","mumbai","bangalore","chennai"] 
},index=["a","b","c","d"])
print(df)

     name  age       city
a   parag   20      delhi
b  tiwari   25     mumbai
c   kumar   30  bangalore
d   singh   40    chennai

In [105]:
#human["LYLTY_CARD_NBR"].nunique()
human["LYLTY_CARD_NBR"].mean()

136185.9317703099

In [106]:
human["LYLTY_CARD_NBR"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 72637 entries, 0 to 72636
Series name: LYLTY_CARD_NBR
Non-Null Count  Dtype
--------------  -----
72637 non-null  int64
dtypes: int64(1)
memory usage: 567.6 KB

In [107]:
human.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER'], dtype='object')

print the columns