* 1. For Importing Data File.

In [6]:
import pandas as pd

df = pd.read_csv("SeoulBikeData.csv", encoding="ISO-8859-1")

* 2. Preview the Data

In [ ]:
df.head()  # First 5 rows

In [ ]:
df.columns # List of column names

In [ ]:
df.tail() # Last 5 rows

* 3. Basic Statics

In [ ]:
df['Rented Bike Count'].max()

np.int64(3556)

In [39]:
df['Rented Bike Count'].min()

np.int64(0)

In [12]:
df.describe()    # Summary statistics

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.3+ KB

* 4. Mean, Mode, Median

In [14]:
df.mean(numeric_only=True)   # Mean of numeric columns

Rented Bike Count             704.602055
Hour                           11.500000
Temperature(°C)                12.882922
Humidity(%)                    58.226256
Wind speed (m/s)                1.724909
Visibility (10m)             1436.825799
Dew point temperature(°C)       4.073813
Solar Radiation (MJ/m2)         0.569111
Rainfall(mm)                    0.148687
Snowfall (cm)                   0.075068
dtype: float64

In [15]:
df.median(numeric_only=True)  # Median of numeric columns

Rented Bike Count             504.50
Hour                           11.50
Temperature(°C)                13.70
Humidity(%)                    57.00
Wind speed (m/s)                1.50
Visibility (10m)             1698.00
Dew point temperature(°C)       5.10
Solar Radiation (MJ/m2)         0.01
Rainfall(mm)                    0.00
Snowfall (cm)                   0.00
dtype: float64

In [16]:
df.mode()                    # Mode (can return multiple rows)

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/01/2018,0.0,0.0,19.1,53.0,1.1,2000.0,0.0,0.0,0.0,0.0,Spring,No Holiday,Yes
1,01/02/2018,NaN,1.0,20.5,97.0,NaN,NaN,NaN,NaN,NaN,NaN,Summer,NaN,NaN
2,01/03/2018,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/04/2018,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/05/2018,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,31/05/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,31/07/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,31/08/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,31/10/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* 5. Missing Values

In [17]:
df.isnull().sum()

Date                         0
Rented Bike Count            0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
dtype: int64

 * 6. Basic Exploration

In [19]:
df.shape          # (rows, columns)

(8760, 14)

In [20]:
df.dtypes         # Data types of each column

Date                          object
Rented Bike Count              int64
Hour                           int64
Temperature(°C)              float64
Humidity(%)                    int64
Wind speed (m/s)             float64
Visibility (10m)               int64
Dew point temperature(°C)    float64
Solar Radiation (MJ/m2)      float64
Rainfall(mm)                 float64
Snowfall (cm)                float64
Seasons                       object
Holiday                       object
Functioning Day               object
dtype: object

In [22]:
df.nunique()      # Count of unique values per column

Date                          365
Rented Bike Count            2166
Hour                           24
Temperature(°C)               546
Humidity(%)                    90
Wind speed (m/s)               65
Visibility (10m)             1789
Dew point temperature(°C)     556
Solar Radiation (MJ/m2)       345
Rainfall(mm)                   61
Snowfall (cm)                  51
Seasons                         4
Holiday                         2
Functioning Day                 2
dtype: int64

In [26]:
df['Seasons'].unique()   # Unique values in a specific column

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

* 7. Data Cleaning

In [27]:
df.duplicated().sum()          # Count duplicate rows

np.int64(0)

In [28]:
df.drop_duplicates()           # Remove duplicate rows

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [29]:
df.dropna()                    # Drop rows with missing values

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [30]:
df.fillna(0)                   # Fill missing values with 0

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

* 8. Time and Date  Concept

In [32]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)    # Convert 'Date' column to datetime format

In [33]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()

Conclusions

In [ ]:
df.groupby('Hour')['Rented Bike Count'].mean()     # 1st Conclusion
# The mean rental hour is 11.5, bike rentals are higher during morning and evening rush hours.

Hour
0      541.460274
1      426.183562
2      301.630137
3      203.331507
4      132.591781
5      139.082192
6      287.564384
7      606.005479
8     1015.701370
9      645.983562
10     527.821918
11     600.852055
12     699.441096
13     733.246575
14     758.824658
15     829.186301
16     930.621918
17    1138.509589
18    1502.926027
19    1195.147945
20    1068.964384
21    1031.449315
22     922.797260
23     671.126027
Name: Rented Bike Count, dtype: float64

In [ ]:
df[['Rented Bike Count', 'Temperature(°C)', 'Snowfall (cm)', 'Rainfall(mm)']].corr()     #  2nd Conclusion

# The mean temperature is 12.88°C, and average rentals are 704 bikes/hour.
# Colder months likely lead to fewer rentals.

,Rented Bike Count,Temperature(°C),Snowfall (cm),Rainfall(mm)
Rented Bike Count,1.000000,0.538558,-0.141804,-0.123074
Temperature(°C),0.538558,1.000000,-0.218405,0.050282
Snowfall (cm),-0.141804,-0.218405,1.000000,0.008500
Rainfall(mm),-0.123074,0.050282,0.008500,1.000000

In [ ]:
df.groupby('Seasons')['Rented Bike Count'].mean()    # 3rd Conclusion

# The dataset has 4 seasons (Winter, Spring, Summer, Autumn).
# You can compare average rentals by season .

Seasons
Autumn     819.597985
Spring     730.031250
Summer    1034.073370
Winter     225.541204
Name: Rented Bike Count, dtype: float64

In [ ]:
# 4th Conclusion
'''
    And My 4th Conclusion is that , There are only 2 unique values in the Holiday and Functioning Day.
    So, Rentals are expected to be lower on holidays and non-functioning days, especially during weekends.  
'''

## Mini  Projects of this dataset

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [47]:
# Step 2: Load Dataset
df = pd.read_csv("SeoulBikeData.csv", encoding='ISO-8859-1')

In [48]:
# Step 3: Data Cleaning
df.columns = df.columns.str.strip()  # Remove spaces in column names

In [49]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  # Handle parsing errors

In [50]:
# Drop rows where date conversion failed
df.dropna(subset=['Date'], inplace=True)

In [51]:
# Rename column for convenience
df.rename(columns={'Rented Bike Count': 'RentedBikeCount'}, inplace=True)

In [53]:
# Step 4: EDA - Basic stats
print("Mean rented bikes:", df['RentedBikeCount'].mean())
print("Max rented bikes:", df['RentedBikeCount'].max())
print("Min rented bikes:", df['RentedBikeCount'].min())

Mean rented bikes: 673.7569444444445
Max rented bikes: 3404
Min rented bikes: 0

In [54]:
print("\nWeather Conditions:\n", df['Weather Situation'].value_counts())
print("\nSeasons:\n", df['Seasons'].value_counts())

KeyError: 'Weather Situation'

In [ ]:




# Step 3: Data Cleaning
df['Date'] = pd.to_datetime(df['Date'])
df.rename(columns={'Rented Bike Count': 'BikeCount'}, inplace=True)
df = df.drop(columns=['Functioning Day', 'Holiday'])

# Step 4: Feature Engineering
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()

# Step 5: Data Analysis
print("Min Bikes Rented:", df['BikeCount'].min())
print("Max Bikes Rented:", df['BikeCount'].max())
print("\nAverage Bike Rented by Season:\n", df.groupby('Seasons')['BikeCount'].mean())
print("\nAverage Bike Rented by Weather:\n", df.groupby('Weather Situation')['BikeCount'].mean())

# Step 6: Visualization
plt.figure(figsize=(10, 5))
sns.boxplot(x='Seasons', y='BikeCount', data=df)
plt.title("Bike Rentals by Season")
plt.show()

plt.figure(figsize=(10, 5))
sns.lineplot(x='Month', y='BikeCount', data=df)
plt.title("Monthly Trend of Bike Rentals")
plt.show()

# Step 7: Machine Learning Model
features = ['Temperature(°C)', 'Humidity(%)', 'Wind speed (m/s)', 'Visibility (10m)', 'Solar Radiation (MJ/m2)']
X = df[features]
y = df['BikeCount']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("\nMean Squared Error:", mean_squared_error(y_test, y_pred))

# Step 8: Prediction Using User Input
print("\n--- Predict Bike Rentals ---")
try:
    temp = float(input("Enter Temperature (°C): "))
    humidity = float(input("Enter Humidity (%): "))
    wind = float(input("Enter Wind Speed (m/s): "))
    visibility = float(input("Enter Visibility (10m): "))
    solar = float(input("Enter Solar Radiation (MJ/m2): "))

    user_input = pd.DataFrame([[temp, humidity, wind, visibility, solar]], columns=features)
    predicted_rentals = model.predict(user_input)[0]
    print(f"✅ Predicted Bike Rentals: {int(predicted_rentals)}")

except Exception as e:
    print("❌ Invalid input. Please enter valid numbers.")
    print("Error:", e)

# Step 9: Conclusion
print("\nConclusion:")
print("✅ Bike rentals are higher in Autumn and lower in Winter.")
print("✅ Clear weather and moderate temperatures boost rentals.")
print("✅ Solar radiation also has a positive effect.")

ValueError: time data "13/12/2017" doesn't match format "%m/%d/%Y", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.