In [7]:
import pandas as pd

In [9]:
df= pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [15]:
df.sample(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2770,10106,48,52.64,15,2526.72,2/17/2003 0:00,Shipped,1,2,2003,...,Via Ludovico il Moro 22,NaN,Bergamo,NaN,24100,Italy,EMEA,Rovelli,Giovanni,Small
1734,10314,39,37.13,15,1448.07,10/22/2004 0:00,Shipped,4,10,2004,...,Smagsloget 45,NaN,Aaarhus,NaN,8200,Denmark,EMEA,Ibsen,Palle,Small
2159,10259,45,86.68,11,3900.60,6/15/2004 0:00,Shipped,2,6,2004,...,Village Close - 106 Linden Road Sandown,2nd Floor,Singapore,NaN,69045,Singapore,APAC,Victorino,Wendy,Medium
1843,10396,27,83.20,7,2246.40,3/23/2005 0:00,Shipped,1,3,2005,...,5677 Strong St.,NaN,San Rafael,CA,97562,USA,NaN,Nelson,Valarie,Small
2686,10375,44,100.00,11,5208.72,2/3/2005 0:00,Shipped,1,2,2005,...,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium

In [27]:
ds=pd.read_excel("Inventory-Records-Sample-Data.xlsx")

In [22]:
!pip install xlrd>=1.2.0

In [24]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [28]:
ds

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Excel Sample Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Inventory Records Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Product ID,Product Name,Opening \nStock,Purchase/\nStock in,Number of \nUnits Sold,Hand-In-\nStock,Cost Price \nPer Unit (USD),Cost Price\nTotal (USD)
5,NaN,P101,Laptop,50,20,10,60,1200,72000
6,NaN,P102,Monitor,40,15,5,50,500,25000
7,NaN,P103,Keyboard,60,25,15,70,50,3500
8,NaN,P104,Headphones,30,10,3,37,100,3700
9,NaN,P105,Smartphone,70,30,20,80,900,72000
10,NaN,P106,Tablet,45,18,8,55,700,38500
11,NaN,P107,Router,55,22,12,65,150,9750
12,NaN,P108,External Hard Drive,25,12,5,32,200,6400
13,NaN,P109,Wireless Earbuds,35,15,7,43,80,3440
14,NaN,P110,Webcam,40,20,10,50,60,3000
15,NaN,P111,Desk Chair,20,8,3,25,150,3750
16,NaN,P112,Desk Lamp,30,15,7,38,30,1140
17,NaN,P113,USB Flash Drive,50,25,12,63,20,1260
18,NaN,P114,Ethernet Cable,60,30,15,75,10,750
19,NaN,P115,Power Strip,40,20,8,52,25,1300
20,NaN,P116,Wireless Mouse,35,15,5,45,40,1800
21,NaN,P117,Gaming Keyboard,25,10,4,31,100,3100
22,NaN,P118,Gaming Mouse,30,12,6,36,80,2880
23,NaN,P119,Gaming Headset,20,8,3,25,120,3000
24,NaN,P120,Gaming Chair,15,6,2,19,200,3800
25,NaN,P121,Gaming Monitor,25,10,4,29,400,11600
26,NaN,P122,Graphics Card,40,18,9,49,600,29400
27,NaN,P123,CPU,30,15,7,38,350,13300
28,NaN,P124,Motherboard,25,12,5,32,200,6400
29,NaN,P125,RAM,50,22,11,61,80,4880
30,NaN,P126,SSD,45,20,8,57,120,6840
31,NaN,P127,HDD,60,25,12,73,60,4380
32,NaN,P128,Power Supply,35,15,6,44,100,4400
33,NaN,P129,PC Case,40,18,9,49,80,3920
34,NaN,P130,CPU Cooler,30,12,4,34,50,1700
35,NaN,P131,Monitor Stand,25,10,3,28,30,840
36,NaN,P132,Mouse Pad,50,20,8,58,10,580
37,NaN,P133,Thermal Paste,40,15,5,50,5,250
38,NaN,P134,Cable Management Kit,30,12,4,34,15,510
39,NaN,P135,WiFi Adapter,20,8,3,23,20,460
40,NaN,P136,External DVD Drive,15,6,2,17,50,850
41,NaN,P137,Printer Cable,25,10,4,29,5,145
42,NaN,P138,Keyboard Cleaner,40,18,9,49,8,392
43,NaN,P139,Laptop Cooling Pad,30,15,6,39,20,780
44,NaN,P140,USB Hub,35,12,4,31,15,465
45,NaN,P141,Anti-Glare Screen Protector,25,8,3,28,10,280
46,NaN,P142,USB-C Adapter,20,10,4,24,15,360
47,NaN,P143,Laptop Sleeve,30,12,5,37,20,740
48,NaN,P144,Wireless Charger,40,18,7,51,30,1530
49,NaN,P145,USB-C Cable,50,20,9,61,8,488
50,NaN,P146,Gaming Desk,25,10,3,28,150,4200

In [29]:
ds.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Excel Sample Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Inventory Records Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Product ID,Product Name,Opening \nStock,Purchase/\nStock in,Number of \nUnits Sold,Hand-In-\nStock,Cost Price \nPer Unit (USD),Cost Price\nTotal (USD)

In [31]:
dj=pd.read_json("sample_Data.json")

In [32]:
dj

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
2,3,Sony PlayStation 5,The Sony PlayStation 5 features an AMD Zen 2-b...,499.99,Electronics,https://www.sony.com/image/44baa604124b770c824...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
4,5,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...
5,6,Fitbit Versa 3 Smartwatch,The Fitbit Versa 3 Smartwatch features a built...,229.95,Electronics,https://www.fitbit.com/global/content/dam/fitb...
6,7,KitchenAid Stand Mixer,The KitchenAid Stand Mixer features a 5-quart ...,399.99,Home & Kitchen,https://www.kitchenaid.com/content/dam/global/...
7,8,Dyson V11 Absolute Cordless Vacuum,The Dyson V11 Absolute Cordless Vacuum feature...,699.99,Home Appliances,https://www.dysoncanada.ca/dam/dyson/images/pr...
8,9,Ninja Foodi Smart XL Grill,The Ninja Foodi Smart XL Grill features 6-in-1...,279.99,Home & Kitchen,https://www.ninjakitchen.com/medias/Ninja-OP50...
9,10,Canon EOS Rebel T8i DSLR Camera,The Canon EOS Rebel T8i DSLR Camera features a...,899.00,Electronics,https://www.canon.com.au/-/media/images/produc...
10,11,Apple AirPods Pro,The Apple AirPods Pro feature active noise can...,249.00,Electronics,https://www.apple.com/v/airpods-pro/b/images/m...
11,12,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...
12,13,Fitbit Charge 4 Fitness Tracker,The Fitbit Charge 4 Fitness Tracker features G...,129.95,Electronics,https://www.fitbit.com/global/content/dam/fitb...
13,14,Samsung Galaxy Watch3,The Samsung Galaxy Watch3 features a rotating ...,399.99,Electronics,https://images.samsung.com/is/image/samsung/as...
14,15,Sony WH-1000XM4 Wireless Noise-Cancelling Head...,The Sony WH-1000XM4 Wireless Noise-Cancelling ...,349.99,Electronics,https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15,16,Breville Barista Express Espresso Machine,The Breville Barista Express Espresso Machine ...,699.95,Home & Kitchen,https://www.breville.com/content/dam/breville/...
16,17,Keurig K-Elite Coffee Maker,The Keurig K-Elite Coffee Maker features a str...,169.99,Home & Kitchen,https://www.keurig.com/content/dam/global-ecom...
17,18,iRobot Roomba i7+ Robot Vacuum,The iRobot Roomba i7+ Robot Vacuum features au...,799.99,Home & Kitchen,https://store.irobot.com/default/i7-vacuuming-...
18,19,Ninja Foodi Digital Air Fry Oven,The Ninja Foodi Digital Air Fry Oven features ...,209.99,Home & Kitchen,https://www.ninjakitchen.com/static/img/produc...
19,20,Cuisinart ICE-70 Ice Cream Maker,The Cuisinart ICE-70 Ice Cream Maker features ...,139.99,Home & Kitchen,https://www.cuisinart.com/share/images/product...